<!-- INICIA SERVICIOS -->
	<div class="block-servicios">
		<H1 class="title-block-home">SERVICIOS</H1>
		<div class="text-rotate">
			SERVICIOS
		</div>
		<div class="block-servicios--items">
			<div class="item-servicio">
				<a href="">
					<img src="{{site.url}}/img/icon_web.svg" alt="">
					<h2>Diseño Web</h2>
				</a>
				
			</div>
			<div class="item-servicio">
				<a href="">
					<img src="{{site.url}}/img/icon_grafico.svg" alt="">
					<h2>Diseño Gráfico</h2>
				</a>
				
			</div>
			<div class="item-servicio">
				<a href="">
					<img src="{{site.url}}/img/icon_impresion.svg" alt="">
					<h2>Impresión</h2>
				</a>
				
			</div>
		</div>
	</div>
<!-- TERMINA SERVICIOS -->
