<div class="block-proyectos">
	<H1 class="title-block-home">PROYECTOS</H1>
	<div class="text-rotate">
		PROYECTOS
	</div>
	<div class="cd-slider">
	    <ul>
	      <li>
	        <div class="image" style="background-image:url({{site.url}}/img/slide1.jpg);"></div>
	        <div class="content">
	        	<div class="category">BRANDING</div>
	         	<h3>Branding San Nicolás</h3>
	         	<a href="#">ver más</a>
	        </div>
	      </li>
	      <li>
	        <div class="image" style="background-image:url(https://images.unsplash.com/uploads/1411724908903377d4696/2e9b0cb2?crop=entropy&fit=crop&fm=jpg&h=675&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1000);"></div>
	        <div class="content">
	        	<div class="category">web</div>
	         	<h3>Site Hogar Santa Sofia</h3>
	         	<a href="#">ver más</a>
	        </div>
	      </li>
	      <li>
	        <div class="image" style="background-image:url(https://images.unsplash.com/photo-1416838375725-e834a83f62b7?crop=entropy&fit=crop&fm=jpg&h=675&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1000);"></div>
	        <div class="content">
	        	<div class="category">categoria</div>
	         	<h3>Site Dasha sas</h3>
	         	<a href="#">ver más</a>
	        </div>
	      </li>
	      <li>
	        <div class="image" style="background-image:url(https://images.unsplash.com/35/JOd4DPGLThifgf38Lpgj_IMG.jpg?crop=entropy&fit=crop&fm=jpg&h=675&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1000);"></div>
	        <div class="content">
	        	<div class="category">web</div>
	         	<h3>Site Los Nogales</h3>
	         	<a href="#">ver más</a>
	        </div>
	      </li>
	      <li>
	        <div class="image" style="background-image:url(https://images.unsplash.com/photo-1453974336165-b5c58464f1ed?crop=entropy&fit=crop&fm=jpg&h=675&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1000);"></div>
	        <div class="content">
	        	<div class="category">Print</div>
	         	<h3>Flyer Sicampo</h3>
	         	<a href="#">ver más</a>
	        </div>
	      </li>      
	    </ul>
	 </div> <!--/.cd-slider-->

</div>  

  