<div class="block-proyectos">
	<H1 class="title-block-home">PROYECTOS</H1>
	<div class="text-rotate">
		PROYECTOS
	</div>
	<div class="cd-slider">
	    <ul>
	    	{%	for proyecto in site.proyectos %}
	    	{% if proyecto.categoria[1] == "destacado"%}
	    	<li>
		        <div class="image" style="background-image:url({{site.baseurl}}{{proyecto.imagen_proyecto}});"></div>
		        <div class="content">
		        	<div class="category">{{proyecto.categoria[0]}}</div>
		         	<h3>{{proyecto.titulo}}</h3>
		         	<a href="{{site.baseurl}}{{{proyecto.link}}">ver más</a>
		        </div>
		     </li>
	    	{% endif %}
			
	    	{%	endfor %}
	
	    </ul>
	 </div> <!--/.cd-slider-->

</div>  

  