<!-- INICIA TESTIMONIOS -->
	<div class="block-testimonios">
		<H1 class="title-block-home">TESTIMONIOS</H1>
		<div class="text-rotate">
			TESTIMONIOS
		</div>
		<div class="content-testimonios">
			<div class="content-testimonios-image">
				<img src="http://placehold.it/200x200/fff/000" alt="">
			</div>
			<div class="content-testimonios-text">
				<blockquote>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, beatae.
				</blockquote>
				<h4>Fidel Nvajas</h4>
				<span>Director ejecutivo - CEO</span>
			</div>
		</div>
	</div>

<!-- TERMINA TESTIMONIOS -->