<!-- INICIA PROYECTOS -->

<div class="block-proyectos">
		<H1 class="title-block-home">ÚLTIMOS PROYECTOS</H1>
		<div class="text-rotate">
			PROYECTOS
		</div>
		<div class="slider-proyectos">


			<!-- slider1 -->			
			<div class="block-proyectos-single" data-tilt data-tilt-scale="1" data-tilt-perspective="2000">
				<div class="block-proyecto-image">
					<img src="{{site.url}}/img/slide1.jpg" alt="">
				</div>
				<div class="block-proyecto-categoria">
						branding
				</div>
				<div class="block-proyecto-titulo">
						Fonsegar
				</div>
				<div class="block-proyecto-resumen">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, obcaecati.
				</div>
				<div class="block-proyecto-link">
						<a href="" class="button-round">ver mas</a>			
				</div>
			</div>
			<!-- slider1 fin -->


			<!-- slider1 -->			
			<div class="block-proyectos-single" data-tilt data-tilt-scale="1" data-tilt-perspective="2000">
				<div class="block-proyecto-image">
					<img src="{{site.url}}/img/slide1.jpg" alt="">
				</div>
				<div class="block-proyecto-categoria">
						branding
				</div>
				<div class="block-proyecto-titulo">
						Fonsegar
				</div>
				<div class="block-proyecto-resumen">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, obcaecati.
				</div>
				<div class="block-proyecto-link">
						<a href="" class="button-round">ver mas</a>			
				</div>
			</div>
			<!-- slider1 fin -->

		</div>
		
	</div>
	<!-- TERMINA PROYECTOS -->