	<footer>
		<div class="footer-content">
			<div class="footer-content-text">
				<div class="text">
					Carrera 18 No. 14 A 51 Barrio San Carlos <br>
					Zipaquirá - Cundinamarca <br>
					+571 301 232 2936 <br>
					hola@harbyrobayo.com <br>
					{% include like_facebook.html %}
				</div>
				
			</div>
			
			<div class="footer-content-logo">
				<img src="{{site.url}}/img/logo-hero.svg" alt="">
			</div>
		</div>
	</footer>


<!-- 		<script type="text/javascript" src="https://cdn.rawgit.com/micku7zu/vanilla-tilt.js/master/dist/vanilla-tilt.js"></script>
	 	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script> -->
	 	<script src="{{site.url}}/js/slider.js"></script>


	 		<script src="https://cdnjs.cloudflare.com/ajax/libs/mixitup/3.2.2/mixitup.min.js">
	 		
	 		</script>

	 		<script>
	 			var mixer = mixitup('.content-portfolio');
	 			var mixer = mixitup(containerEl);
	 		</script>


	
	</body>
</html>

