		<nav class="main-menu">
			<ul>
				<li><a href="{{site.url}}/portafolio.html"><span class="icon-nav"><img src="{{site.url}}/img/icon_briefcase.svg" alt=""></span><span class="text-nav">portafolio</span></a></li>
				<li><a href="{{site.url}}/about.html"><span class="icon-nav"><img src="{{site.url}}/img/icon_user.svg" alt=""></span><span class="text-nav">sobre mí</span></a></li>
				<li><a href="{{site.url}}/servicios.html"><span class="icon-nav"><img src="{{site.url}}/img/icon_cup-designer.svg" alt=""></span><span class="text-nav">servicios</span></a></li>
				<li><a href="{{site.url}}/contactenos.html"><span class="icon-nav"><img src="{{site.url}}/img/icon_mail.svg" alt=""></span><span class="text-nav">contacto</span></a></li>
			</ul>
		</nav>