*,html, body  {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: $light-gray;
	color: $color-secundario;
	font-family: $font-parrafos;
	font-size: 16px;
	line-height: 1.5;
}

a {
	text-decoration: none;
}


.row {
	max-width: 100%;
}


@media screen and (min-width: 40em) {
	.row {
		max-width: 1000px;
		margin: auto;
	}
}