/*==============================================
=            ESTILOS MENÚ PRINCIPAL            =
==============================================*/

.main-menu {
	margin: 0;
	padding: 0;
	max-width: 100%;
	color: white;
	grid-area: navigation;
	border-left: 1px solid rgba($color-secundario, .6);
	ul {
		display: flex;
		li {
			width: 100%;
			text-align: center;
			list-style: none;
			a {
				display: block;
				color: $color-secundario;
				text-decoration: none;
				text-transform: uppercase;
				font-size: .8rem;
				font-family: $font-parrafos;
				color: white;
				letter-spacing: 1px;
				padding: 2rem 0;
				&:hover {
					background: lighten($color-primario, 1%);
				}

			}
		}
	}
}

/*=====  End of ESTILOS MENÚ PRINCIPAL  ======*/
