

/**
 *
 * VARIABLES PRINCIPALES
 *
 */

$color-primario: #1B1D3F;
$color-secundario: #00A099;
$light-gray: #F8F8F8;
$font-parrafos: 'Muli', sans-serif;
$font-titulos: "Josefin Sans", sans-serif;


$bg-input: $light-gray;
$border-radius-input: 5px;
$border-input: none;
