<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>My Portafolio</title>
	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,700|Muli:300,400,700" rel="stylesheet">
	<link rel="stylesheet" href="{{site.url}}/css/styles.css">
	<!-- Add the slick-theme.css if you want default styling -->
	<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css"/>
	<!-- Add the slick-theme.css if you want default styling -->
	<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css"/>

</head>
<body>

	<header>
		<div class="block-logo">
			<img src="{{site.url}}/img/logo-simbolo.svg" alt="">
		</div>
		<nav class="main-menu">
			<ul>
				<li><a href="{{site.url}}/portafolio.html">portafolio</a></li>
				<li><a href="{{site.url}}/about.html">sobre mí</a></li>
				<li><a href="{{site.url}}/servicios.html">Servicios</a></li>
				<li><a href="{{site.url}}/contactenos.html">contacto</a></li>
			</ul>
		</nav>
	</header>

 	{{content}}


 	<script type="text/javascript" src="https://cdn.rawgit.com/micku7zu/vanilla-tilt.js/master/dist/vanilla-tilt.js"></script>
 	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
 	<script src="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.min.js"></script>

 	<script>

 		$(document).ready(function(){
		  $('.slider-proyectos').slick({
		  });
		});
 	</script>
	
</body>
</html>